<%= form_tag("/", method: :get) do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<%- @res.each do |m| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" alt="Card image cap" src=<%= m.poster_url %>>
    <div class="card-body">
      <h5 class="card-title"><%= m.name %></h5>
      <p class="card-text"><%= m.desc %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<% end %>